:root {
  --white: #ffffff;
  --gray: #d9d9d9;
  --black: #000000;
  --primary-color: #5396a7;
  --secondary-color: #5396a7;
  --dark-secondary-color: #96afc9;
  --tertiary-color: #96d2c8;
  --light-tertiary-color: #f3f6fb;
  --text-color: #343d48;

  --font-family: 'DM Sans', sans-serif;
}
